body.page-frontpage{
	
}
#ting-search-form .form-item-textfield input{
	border: 1px solid #e7e6e4;
}
#ting-search-form input.form-submit{
	padding:1px;
}


.display-book .title a{
	font-weight:bold;
}
h2.pane-title, h1.header, body.clean h1 {
	font-weight:bold;
}

#ting-search-summary .count{
	padding-right:5px;
}
