body{

	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
  /*line-height:1.125em;*/
	 font-size:15px;

}
html{
	 background: #b1af9a url(../img/background-gradient.gif) repeat-y center ;
}

.rulerafter{
	border-bottom:1px dashed #666666;
  margin:0.5em 0;
  padding:0 0 0.5em;
}
strong{
  font-weight:bold;
}



.spacing-before{
	margin-top:20px;
}

.review-title{
	color:#90c50f;
	text-transform:uppercase;
	font-weight:bold;
}

a {
	color: #1e8ace;
	text-decoration:none;
}
p{
	margin-bottom:10px;
}

body.clean{
	background:#F7F2ED;
	height:100%;
	margin:0;
	
}

body.clean .loader{
	background:url(../img/ajax-loader.gif) no-repeat center center;
	height:66px;
}
body.clean p{
	margin-bottom:10px;
}
body.clean h1{
	margin-bottom:10px;
}
body.clean .timeleft{
	padding:5px;
	margin:0 auto;
	border:1px solid #666;
	width:200px;
	text-align:center;
	font-size:1.4em;
}

body.clean .addtocart{
	display:block;
	float:right;
	background: #90C50F;
	color:#fff;
	font-weight:bold;
	padding:10px;
}


.pagewrap{
	width: 1006px;
	margin:0 auto;
	background: #F7F2ED;
	font-size:0.875em;
}

body.front .pagewrap .top-area{
	background: transparent url(../img/top-ribbon.gif) no-repeat top left;
}
.pagewrap .top-area{
	height: 121px;
	background: transparent url(../img/top-ribbon-normal.gif) no-repeat top left;
	position:relative;
}


.pagewrap .top-area .left{
	float:left;
}
.pagewrap .top-area .right{
	float:right;
}

.logo{
	margin-left:30px;
  width:380px;
	background: transparent url(../img/logo.png) no-repeat 0 0;
	position:absolute;
	top:0;
	left:0;
	height:135px;
}
.logo h2, .logo h3{
	margin-left:90px;
}
#site-name a{
	margin-top:20px;
	display:block;
	text-indent:-999em;
	background:transparent url(../img/netlydbog-text-header.png) no-repeat top left;
	height:31px;
}
#slogan{
	color:#ffffff;
	text-transform:uppercase;
	font-weight:normal;
	margin-top:14px;
	font-size:0.91em;
	line-height:1;
}
.topmenu{
	margin-right:20px;
	width:530px;
}
.topmenu h3{
	display:none;
}


.front .pagewrap .maina{
	margin:0;
}

.pagewrap .maina{
	margin: 0 1em;
}







/* SEARCH FORM SETTINGS */

#ting-search-form{
	position:relative;
  margin:0;
	height:60px;
	background:url(../img/formbg.png);
}
#ting-search-form .example{
	display:none;
}
#ting-search-form .form-item-textfield{
  margin:0;
}
#ting-search-form .form-item-textfield label{
	position:absolute;
	top:29px;
	left:9px;
}
#ting-search-form .form-item-textfield{
	float:left;
}
#ting-search-form .form-button{
	float:right;
	background:red;
	height:48px;
	background:url(../img/formbtnbg.png);
}
#ting-search-form input{ 
  border:0;
  margin:0;
	padding:3px;
	font-size:1.4em;
/*	height:34px;*/
	margin-top:20px;
}
#ting-search-form input.form-submit{
	padding:2px;
	display:block;
}
#ting-search-form .form-item-textfield .form-text{
  background: #e7e6e4;
	color: #666666;
  width:422px;
}
#ting-search-form .form-submit{
	background: #666666;
	color:#e7e6e4;
	text-transform:uppercase;
}

/* MENU SETTINGS */

.top-area ul li {
	float:left;
	text-transform:uppercase;
	margin-right:15px;
	
}
.top-area ul li.last {
	margin:0;
}
.top-area ul.links li{
	padding:0;
} 
.top-area ul li a {
  color: #ffffff;
	background:#666666;
	display:block;
	padding:5px 0;
	overflow:hidden;
	line-height:1;
	height:11px;
	width:94px;
	text-decoration:none;
	font-size:0.91em;
	text-align:center;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}




/* panels */

.panel-pane{
}

.panel-3col-left-stacked .panel-col.top .inside{
	margin : 0 0 1em 0;
}

.panel-3col-left-stacked .panel-col .inside{
	margin: 0 0.5em 1em 1em;
}
.panel-3col-left-stacked .panel-col.middle .inside{
	margin: 0 0.5em 1em 0.5em;
}
.panel-3col-left-stacked .panel-col.right .inside {
	margin: 0 1em 1em 0.5em;
}
.pane-latest-news-panel-pane-2 .title {
font-size:18px;  
}

/*.page-node .maina {padding: 0 20px;min-height:550px;}*/
/*.page-node h1 {
  font-family: "American Typewriter", "Courier New", serif;font-size: 22px;text-transform:uppercase;color: #999;margin-bottom:10px;
}*/
.page-node img {padding-right:10px;}
/* FAQ */
.page-faq .mainfaq {padding: 0 30px;}
.page-faq .maina {margin: 0;}
.page-faq h1 {font-family: "American Typewriter", "Courier New", serif;font-size: 22px;text-transform:uppercase;color: #999;margin-bottom:10px;}
.page-faq .faq-ul-questions-top li { list-style-type: circle; margin:0; padding:0;margin-left: 20px; }
.page-faq h5 { font-size: 16px;color:#999;}
.page-faq .faq-question, .page-faq .faq-answer { margin:0;padding:0;}
.page-faq .faq-question a {font-size: 18px;}
.page-faq .faq-answer { margin-bottom: 20px;line-height:18px;}
.page-faq .faq-answer p {margin-bottom:12px;}
.page-faq .faq-ul-questions-top a { line-height:26px;color: #439EC1;}

.faq-ul-questions-top a.active{
	color : #439EC1;
}

h3.title {
  font-weight: 900;
}

/* /FAQ */

h2.pane-title, h1.header, body.clean h1{
	font-family: "American Typewriter", "Courier New", serif;
	font-weight: bold;
	font-size:1.6em;
	color:#666666;
	border-bottom: 1px dashed #999999;
	padding: 0 0 0.2em 0;
	margin: 0.5em 0;
	text-transform:uppercase;
}

/* top feature */
#topfeature .feature-tab{
	padding: 0 1em;
}


.feature-tab .nopicture a{
	display:block;
	width:170px;
	height:270px;
	text-indent:-999em;
}

.feature-tab .inner{
	margin-bottom:1em;
}
.feature-tab .display-book{
	width:auto;
}

.page-frontpage .panel-display .top #topfeature .feature-tab {
	background-color: #e8e4df;
}
#topfeature .page-selector{
	background: transparent url(../img/topfeature-shadow.gif) repeat-x;
	height:24px;
	padding-left:30px;
}
#topfeature .page-selector li{
	float:left;
}

#topfeature a.tab{
	background: #dedad5 url(../img/topfeature-link-shadow.gif) repeat-x;
	display:block;
	padding:5px;
	line-height:1;
	margin-right:10px;
	text-decoration:none;
	text-transform:uppercase;
	color: #999999;
}
#topfeature a.tab.active{
  background: #E8E4DF;
	border: 1px solid #aaa5a4;
	border-top:0;
}
.feature-tab .picture{
	margin-bottom:10px;
}
.feature-tab .picture img {
	display:block;
}


/* book display */

.display-book .title a{
	color:#90c50f;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
}
.display-book .author{
	font-weight:normal;
	font-size:14px;
}
.display-book{
	width:170px;
	margin:0 auto;
}

.display-book.biglist .picture{
  background-color: #ddd;
	min-height:233px;
}

/* make loans left align if there's only one */
.size1of1 .display-book.biglist {
	margin:0; 
}

.display-book .picture img{
	display:block;
}
.display-book.small {
	margin:0;
	width:auto;
}
.display-book.small .picture{
	height:100px;
	float:left;
	margin-right:10px;
}
.display-book.small .icons{
	/*height:100px;*/
}

#ting-result .display-book{
	margin:0;
	width:auto;
}
#ting-result .display-book .picture{
	height:auto;
}

.pane-elib-block-lastloans-2 .display-book.small {
  padding-left: 38px;
}

.display-book .fivestar-widget-static .star span{
  text-align:left;
}

.display-book.textright {
	margin: 0;
	width: auto;
}

.display-book.textright .item-list .title{
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 5px;
}
.display-book.textright .picture{
	float: left;
}

.display-book .item-list .title{
	font-weight: normal;
	margin-right: 5px;
}
.display-book.textright .item-list  {
	margin-bottom: 10px;
}
.display-book.textright .item-list .item-list {
	text-transform: uppercase;
}


.pane-elib-block-lastloans-2 .display-book.small {
  background-position: 1px 10px;
  background-repeat: no-repeat;
}
.pane-elib-block-lastloans-2 .display-book.index-1 {
  background-image: url(../img/index-1.png);
}
.pane-elib-block-lastloans-2 .display-book.index-2 {
  background-image: url(../img/index-2.png);
}
.pane-elib-block-lastloans-2 .display-book.index-3 {
  background-image: url(../img/index-3.png);
}
.pane-elib-block-lastloans-2 .display-book.index-4 {
  background-image: url(../img/index-4.png);
}
.pane-elib-block-lastloans-2 .display-book.index-5 {
  background-image: url(../img/index-5.png);
}
.pane-elib-block-lastloans-2 .display-book.index-6 {
  background-image: url(../img/index-6.png);
}
.pane-elib-block-lastloans-2 .display-book.index-7 {
  background-image: url(../img/index-7.png);
}
.pane-elib-block-lastloans-2 .display-book.index-8 {
  background-image: url(../img/index-8.png);
}
.pane-elib-block-lastloans-2 .display-book.index-9 {
  background-image: url(../img/index-9.png);
}
.pane-elib-block-lastloans-2 .display-book.index-10 {
  background-image: url(../img/index-10.png);
}

#lightboxFrame{
	border:0 none;
	
}


.nopicture{
	background: #abcd48 url(../img/nopic.png) no-repeat center center;
}


.loanperiod{
	text-align:center;
	padding:5px;
	margin-bottom: 10px;
}
.loanperiod.long{
	background:#9BC833;
}
.loanperiod.medium{
	background:#FFFF88;
}
.loanperiod.short{
	background:#CC0000;
}



/* cLEARN */


body.clean #user-login{
	width:500px;
	margin: 0 auto;
}

body.clean #user-login .form-text{
	width:99%;
}

/*body.clean h1{
	font-size:2em;
	font-weight:bold;
	
}*/
.audioplayer-stream{
	width:616px;
	height:232px;
	border:0;
}
.audioplayer-download{
  width:620px;
  height:0;
  border:0;
}
.audioplayer-info{
	width:616px;
	height:320px;
	border:0;
}

body .messageouter{
  padding: 1em 0;
}


body.front .messageouter{
	background: #E8E4DF;
}

.messages.error{
	padding:1em;
	margin:0 1em;
}

.messages.status{
	padding:1em;
  margin:0 1em;
	border:1px solid #b5a443;
	background: #f9efb8;
	
}

.pane-latest-news-panel-pane-1 a{
	text-transform:uppercase;
}

/* questions */

.view-promoted-questions h3{
	font-weight:bold;
	text-transform:uppercase;
}
.view-promoted-questions li{
	list-style-type:disc;
	list-style-position:outside;
	margin-left:20px;
}
.view-promoted-questions li .title{
	display:inline;
}

/* news */
.pane-latest-news-panel-pane-1 .title a{
	font-weight:bold;
	color:#666;
	padding-bottom:0.5em;
} 
 
.view-latest-news .created{
	margin-right:0.4em;
	font-style: italic;
  padding-bottom: 10px;
}
.view-latest-news div {
  border-bottom:1px dashed #666;
	padding: 0.5em 0;
}
.view-latest-news div div{
	padding:0;
	border:0 none;
}




/* footer */

.footer{
	background : #e9e7e4;
	padding:20px;
	border-top:1px solid #666666;
	color : #666666;
}
.footer h3{
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:10px;
}
.footer h4{
	text-transform:uppercase;
}
.footer p, .footer ul{
	margin-bottom:5px;
}

.footer div{
	float:left;
	width:49.99%;
}
.footer div div{
  float:none;
  width:auto;
}






#ting-object .item-list .title{
	font-weight:normal;
	padding-right:4px;
	text-transform:uppercase;
}
#ting-object .item-list  .item-list span{
 	color:#439EC1;
 }

 
#imageData{
	display:none;
	
}
#ting-object .picture .inner{
	min-height:100px;
}
















/* COL FIX */

.panel-3col-left-stacked .left-wrapper {
margin-right:24.99%;
width:74.99%;
}
.panel-3col-left-stacked .panel-col.left {
width:99.99%;
}
.panel-3col-left-stacked .panel-col.middle {
width:49.99%;
}
.panel-3col-left-stacked .panel-col.right {
width:24.99%;
}
.panel-3col-left-stacked .panel-col.bottom {
width:49.99%;
}



.biglogoutbutton{
	color:#90C50F;
}


.okknap, .annullerknap, .nextknap{
	text-transform:uppercase;
  display:block;
	margin:0 auto;
	font-weight:bold;
  text-align:center;
  	
}
.okknap{
  margin-top:50px;
	font-size:3em;
	padding:10px;
	background:#90C50F;
	color:#fff;
	width:150px;
	
}
.nextknap{
  
  font-size:2em;
  padding:10px;
  background:#90C50F;
  color:#fff;
  width:150px;
  
}

.annullerknap{
	width:75px;
	padding:10px;
	margin-top:10px;
	border:1px solid #999999;
}



/*body.node-type-article .meta{
	padding:10px 0;
	font-size:0.9em;
}

body.node-type-article #comments .meta{
	padding:0;
	font-weight:bold;
}*/

.comment-inner ul{
	height:15px;
}

.comment-inner li{
	float:left;
	margin-right:10px;
}

.view-faq div.inner{
	border:1px solid #666;
}
.view-faq ul{
	margin:10px 0;
}
.view-faq li{
	list-style:outside disc;
	margin-left:20px;	
}

.view-faq li div{
	display:inline;
}

.faq-question, .faq-answer{
	padding:0;
}






.m-l{
	margin-left:5px;
}
.m-r{
  margin-right:5px;
}




/* user reviews */

.view-anmeldelser .display-book .icons a {
  display: block;
}

.table-cell {
  display: table-cell;
}

.view-display-id-panel_pane_1 .views-field-uid, .view-display-id-panel_pane_1 .views-field-created, .pane-node-comments .meta div,  .pane-node-comments .meta span{
	float:left;
	font-weight:bold;
	margin-right:10px;
}
.view-display-id-panel_pane_1 .views-field-field-review-value,  .pane-node-comments .comment-inner{
	padding:17px 0 8px 0;
	
}
#pager{
	margin: 20px auto;
	width:170px;
	height:30px;
}
#pager div{
	float:left;
	margin-right:20px;
}




ul.pager li{
	float:left;
	margin:0 5px;
}




/*.audiobook-bookmark{
	position:absolute;
	top:-10px;
	left:-10px;
  background:url("../img/logo.png") no-repeat scroll 0 0 transparent;
	width:71px;
	height:134px;
}*/






/* fivestar */

.fivestar-static-form-item{
	margin: 3px 0 8px 0;
}

.display-book.small .fivestar-static-form-item{
	float:left;
	margin-right:10px;
}
.display-book.small .icons .icons{
	float:left;
  height: 16px;
}
.display-book.small .icons {
  height: 47px;
}

div.fivestar-widget div.on a {
	background-position: 0 -32px;
}
div.fivestar-widget div.hover a {
  background-position: 0 -16px;
}

#ting-object .fivestar-widget{
	margin:5px 0;
}

.view-anmeldelser .display-book .fivestar-static-form-item{
	height:20px;
}
.feature-tab .fivestar-static-form-item{
	margin:0 0 5px 0;
}
#ting-search-result .fivestar-static-form-item{
	margin: 0 0 5px 0;
}


.size1of2{
	width:49.99%;
}
.page-ting #ting-search-results{
	margin-top:20px;
}

.page-ting #ting-search-results #ting-search-summary{
	font-weight:bold;
	text-transform:uppercase;
}

#ting-sort-by{
  text-align:right;
}

#ting-object h4 {
  color: #90C50F;
  margin: 10px 0 2px 0;
}

/* elib categories */
.pane-elib-block-categories-0 ul {
  margin-bottom: 10px;
  float: left;
  width: 49%;
}
.pane-elib-block-categories-0 ul li {
  color: #90C50F;
}
.pane-elib-block-categories-0 ul li h5 {
  font-weight: 900;
}
.pane-elib-block-categories-0 ul li ul {
  width: 100%;
}
.pane-elib-block-categories-0 ul li ul li {
  float: none;
}
.pane-elib-block-categories-0 ul li ul li.highlight {
  padding-top:5px;
}
.pane-elib-block-categories-0 ul li ul li.highlight a {
  color: #90C50F;
}
