
.inner{
	margin:0 1em;
}
.inner.left{
	margin-left:0;
}
.inner.right{
	margin-right:0;
}


#ting-search-results .line{
	position:relative;
}

#ting-search-results .picture{
  width:15%;
}

#ting-object .picture{
	width:170px;
}
#ting-object .meta{
	width:300px;
}
#ting-object .book-title{
	color:#90C50F;
  font-size:14px;
  text-decoration:none;
  text-transform:uppercase;
}

#ting-search-results li .meta{
	width:32%;
}
#ting-search-results li .moreinfo{
	width:52%;
}
#ting-search-results li .moreinfo .icons{
  position:absolute;
	bottom:1em;
}
#ting-search-results li .moreinfo .abstract{
	/*height:70px;*/
	margin-bottom:2em;
}


.ruler-after{
	border-bottom: 1px dashed #999999;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-top:10px;
}

.rating{
	height:20px;
}
.rating li.on{
	background-position:left 32px;
}
.rating li{
	float:left;
	width:16px;
	margin-right:2px;
	background:url(/sites/all/modules/fivestar/widgets/oxygen/star.png);
	text-indent:-999em;
}



#ting-search-results li .picture a{
	min-height:100px;
}
#ting-search-results li .picture a, #ting-search-results li .picture img{
	display:block;
}