#field_ting_ref_values div.ting-reference-type-radio div.form-item { float: left; }
#field_ting_ref_values  input.form-autocomplete  { width:750px; }
#field_ting_ref_values .form-item-labeled { clear:both;}
