body {
  margin: 0;
  padding: 0;
  background: #b1af9a;
  font-family: "Trebuchet MS", helvetica, arial;
}

/** HEADER */
.content, .header {
  margin: 0;
  padding: 0;
  background: #EAE9E5;
  
}
.header {
  background: url(../img/breaked_paper.png) top left no-repeat;
  height: 160px;
}

#logo {
  float:left;
  position: relative;
  top: 0;
  left:36px;
  background: url(../img/logo.png) top left no-repeat;
  height:135px;
  padding-left: 89px;
}
h3 {
  margin-top: 20px;
  color: #666;
  font-family: "American Typewriter";
  font-size:28px;
  font-weight:normal;
}
h2#site-name {
  margin:0;
  padding:16px 0 5px 0;
}

h2#site-name a {
  text-decoration: none;
  font-size:43px;
  font-weight:normal;
  letter-spacing:1px;
  line-height: 1em;
}

h3#slogan  {
  color: #fff;
  padding:0;
  margin: 0;
  font-size: 16px;
  font-weight:normal;
  letter-spacing:1px;
  text-transform: uppercase;
  line-height: 1em;
}

h6 {
  height:30px;
}
h6 a, h6 {
  text-decoration: none;
  margin-top:6px;
  font-size:14px;
  font-weight:bold;
  color: #90c50f;
  font-family: helvetica;
  text-transform: uppercase;
}
h5 {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.rating {
  height:20px;
}
.right {
  float: right;
}
.left {
  float: left;
}


a.link-green, .link-green a, .green  {
  color: #9cc538;
  text-decoration:none;
}

.a.link-blue, .link-blue a, .blue {
  color: #1e8ace;
  text-decoration:none;
}

.front .left h3 {
  margin-bottom:20px;
}
.front .left h5 {
  margin: 0 0 10px 0;  
}

.front .left h6 {
  height: auto;  
  margin: 0 0 10px 0;  
}
.front .left h6 a {
  font-family: helvetica;
  font-size: 20px;
  font-weight:bold;
}
.front .left .rating {
  margin: 0 0 10px 0;  
}


.front .bottom ol {
  font-size:30px;
}
.front .bottom li {
  margin-bottom:10px;
}

.front .bottom  h6 a {
  margin:0;
  padding:0;
}

.front .bottom .rating .fivestar-widget-static, .front .middle .rating .fivestar-widget-static {
  float:left;
}

.front .bottom .reader h5 {
  text-transform: uppercase;
}

.subpage {
  margin-left:20px;
  width:710px;
  font-size:14px;
  color:#666;
}
.subpage .image {
  width:170px;
}
.subpage .info {
  margin-left:20px;
  width:240px;
}
.subpage .about {
  width: 260px;
  font-size:14px;
  line-height:1.3em;
  font-weight:normal;}
.subpage .review-header {
  width: 170px;
    line-height:1.3em;
}
.subpage .review-content {
  margin-left:20px;
  width:500px;
  font-size:14px;  line-height:1.3em;
  font-weight:normal;
}
.subpage .blue {
  font-weight:normal;
  font-size:14px;
  line-height: 1.3em;
  
}
.subpage .blue label {
  color: #666;
}
.subpage h5 {
  font-size:16px;
  font-weight: normal;
}
.subpage .h6 {
  font-size:26px;
  font-weight: normal;
  margin:0;
  padding:0;
  
}

/** SEARCH **/
#rightbox {
  float: right;
}

#ting-search-form {
  margin:4px 10px 0 0;
  text-align:left;
}

#block-ting-search h3 {display: none;}
/** TEMPORARY **/
#block-ting-search label {display:none;}
#block-ting-search .form-item, #block-search .form-button {
  float: left;
}
#block-ting-search input#edit-keys {
  font-size: 16px;
  height:34px;
  width: 380px;
  border: none;
  padding:0 4px;
  background: #eae9e6;
}
#block-ting-search input.form-submit {
  margin-top:16px;
  border: none;
  height:34px;
  font-size:24px;
  padding:0 4px;
  color: #fff;
  background: #666;
}
#block-ting-search .example { display: none;}
#block-ting-search { clear: both;}
/** PRIMARY MENU **/
ul.links {
  position: absolute;
  margin-top:-8px;
}
ul.links li {
  padding:0 16px;
}

ul li a.active, ul li a {
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
}
ul li a.active:hover, ul li a:hover {
  color: #eae9e6;
}

/** FOOTER */
.footer {
  border-top:1px solid #a1a1a1;
  background: #e9e7e4;
  height: 200px;
}


.content {
  margin: 0 auto;
  width: 1006px;
  background: #f7f2ed;
  min-height: 1px; 
  height: 100%;
}
.front .header {
  background-color: #e9e4df;
}
.front .panel-1col {
  background-color: #e9e4df;
  border-bottom:1px solid #a1a1a1;
}
#site-name a {
  color: #439ec1;
}
.clear-box {
  clear: both;
}


.size1of2{
	width:49.99%;
}